body {
    background-color: #e0e0e0;
}
.above-container {
    width: 1420px;
    margin: 20px auto;
}
#searchbar {
    float: right;
    position: relative;
}
.input {
    width: 299px;
    height: 50px;
    background-color: #e0e0e0;
    border: 2px solid #4d4c4c;
    border-radius: 15px;
}
.button {
    width: 73px;
    height: 55px;
    background-color: #4d4c4c;
    border-radius: 15px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 2px;
    position: absolute;
    right: 0;
    font-size: 15px;
}
#logo {
    width: 501px;
    height: 144px;
    background-color: #ff0000;
    line-height: 144px;
    float: left;
}
#logo > p {
    text-align: center;
}
.clear {
    clear: both;
}
#Navi {
    background-color: #0755c9;
    height: 40px;
    margin-top: 15px;
}
#Navi ul {
    list-style-type: none;
    width: 1420px;
    margin: 0 auto;
}
#Navi ul li {
    display: inline-table;
    line-height: 40px;
    border-left: 1px solid #196ce9;
}
#Navi >ul>li:hover {
    background-color: darkblue;
}
#Navi ul li a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}
#Navi >ul >li:last-child {
    border-right: 1px solid #196ce9;
}
.container {
    background-color: white;
    width: 1420px;
    min-height: 1029px;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid #0755c9;
}
.content-top {
    min-height: 401px;
    background-color: #e0e0e0;
    margin-bottom: 36px;
}
.leftboxes{
    width: 430px;
    min-height: 522px;
    background-color: #e0e0e0;
    float: left;
    margin-right: 26px;
    padding: 10px;
}
#greenbox1 {
    width: 100%;
    min-height: 285px;
    background-color: #003300;
    float: left;
}
#greenbox2 {
    width: 100%;
    min-height: 285px;
    background-color: #003300;
    float: left;
}
#rightbox {
    width: 430px;
    min-height: 522px;
    background-color: #e0e0e0;
    float: left;
}
