/*---Menu top---*/
.menu-top-new {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    background-color:green;
    height: 40px;
}
.menu-top-new li {
list-style: none;
float: left;
line-height: 40px;
position: relative;
margin-left: 150px;
}
.menu-top-new li a {
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
    display: block;
    font-weight: bold;
    text-decoration: none;
}
.menu-top-new li:hover .sub-menu-new {
    display: block;
}
.menu-top-new li:hover{
    background-color: #ccc;
}
.sub-menu-new {
    display: none;
    width: 250px;
    background-color: #ccc;
    min-height: 250px;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 40px;
    color: white;
}
.box-test {
    width: 400px;
    position: relative;
    display: inline-block;

}
.box-test img {
    width: 100%;
    float: left;
    height: 300px;
}
.box-test .title-h2 {
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 10px 15px;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.7);
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    box-sizing: border-box;
}
.box-test-2 {
    width: 400px;
    position: relative;
    display: inline-block;

}
.box-test-2 .photo {
    max-width: 100%;
    float: left;
    height: 300px;
}
.box-test-2 .title-h2 {
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 10px 15px;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.7);
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    display: none;
    box-sizing: border-box;
}
.box-test-2:hover .title-h2 {
    display: block;
}