.headline {
    width: 100%;
    margin: auto;
    text-align: center;
}
.headline p {
    color: #43a3cd;
    padding: 10px 15px;
    font-size: 30px;
}
.box {
    width: 30%;
    margin: 1.55%;
    position: relative;
    display: inline-block;
}
.box img {
    width: 100%;
    height: 300px;
    float: left;
}
.box .text {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    background: rgba(255,255,255,0.7);
    color: #333;
    font-family: Open Sans Condensed;
    box-sizing: border-box;
    display: none;
}
.box:hover .text {
    display: block;
}