body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.above-container {
    height: 109px;
    background-color: #ffffff;
    margin: auto 147px;
    width: 1065px;
    line-height: 109px;
    position: relative;
}
.Logo {
float: left;
position: absolute;
top: 25px;
}
.Navi {
    float: right;
}
.Navi ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.Navi ul > .material-icons {
    color: #b3cbda;
    font-size: 21px;
}
.Navi ul li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}
.Navi ul li a {
    text-decoration: none;
    color: #454545;
}
.container {
    min-height: 1210px;
}
.content-top {
    background-image: url(images/backgr.jpg);
    background-repeat: no-repeat;
    padding: 112px 147px 138px 147px;
    display: inline-block;
}
.rightside {
    float: right;
    width: 50%;
    padding: ;
}
#bigcard {
    margin-bottom: 30px;
    border-radius: 20px;
    width: 100%;
}
.smallcards {
    position: relative;
    width: 100%;
    padding: 0 7px;
    box-sizing: border-box;
}
.smallcards > .button-left {
    margin: 0;
    background: none;
    border: none;
    position: absolute;
    top: 35%;
    left: -20px;
}
.smallcards > .button-right {
    margin: 0;
    background: none;
    border: none;
    position: absolute;
    right: -20px;
    top: 40%;
}
.smallcards .button-left > .material-icons {
    color: #f2b949;
}
.smallcards .button-right > .material-icons {
    color: #f2b949;
}
.smallcards #card > img {
margin-left: 8px;
margin-right: 8px;
border-radius: 10px;
}
.leftside {
    color: white;
    float: left;
    width: 50%;
}
.leftside > p {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    margin: 0;
    margin-left: -15px;
}
.leftside ul {
    margin: 0;
    list-style-type: none;
    margin-left: -50px;
}
.leftside ul li {
    font-size: 20px;
    margin: 10px;
}
.leftside ul li > .material-icons {
    float: left;
    color: #ccd65f;
    margin-right: 10px;
    font-weight: bold;
}
.leftside ul li p {
    margin: 0;
}
#orangebox {
    width: 341px;
    height: 90px;
    background-color: #ff931f;
    color: white;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
}
.p {
    padding: 20px;
}
#p1 {
    font-size: 25px;
    margin: 0px;
}
#p2 {
    font-size: 20px;
    margin: 0px;
}

.content-bottom {
    height: 535px;
    padding: 59px 147px 61px 147px;
    background-color: #f4f4f4;
}
.box {
    width: 25%;
    height: 415px;
    background-color: #ffffff;
    margin-right: 9px;
    margin-left: 9px;
    padding: 30px;
    float: left;
    position: relative;
}
.box > .material-icons {
    width: 100%;
    font-size: 43px;
    text-align: center;
    color: #43a3cd;
    height: 25%;
    line-height: 100px;
}
.headline {
    font-weight: bold;
    color: #454545;
}
.text {
    color: #666666;
}
.under {
    float: left;
    position: absolute;
    bottom: 50px;
}
.under > a {
    font-size: 15px;
    font-weight: bold;
    color: #ff931f;
    text-decoration: none;
}
.under-container {
    height: 158px;
    background-color: #6897b5;
}
.core {
    margin: auto 147px;

}
.Logo2 {
    float: left;
    font-size: 45px;
    color: white;
    width: 20%;
    font-weight: bold;
    line-height: 135px;
}
.Copyright {
    float: left;
    color: whitesmoke;
    width: 30%;
}
.Copyright p {
    font-size: 11px;
    margin: 0;
    font-weight: lighter;
}
.C {
    margin-top: 60px;
}
.Infor {
    float: right;
    width: 30%;
}
.Infor ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 60px;
}
.Infor ul li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}
.Infor ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}