body {
    margin: 0;
    padding: 0;
    font-family: Roboto Arial, Helvetica, sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    width: 100%;
    min-height: 85px;
    background-color: #f8d22c;
    border-bottom: 1px black solid;
}
.sub-header {
    width: 100%;
    padding: 30px;
}
.sub-header .Navi-toggle-button {
    border: 0px;
    display: none;
    background-color: transparent;
    color: #000000;
    font-size: 40px;
    float: left;
}
.logo {
    float: left;
}
.login {
    float: right;
    padding: 30px;

}
.Navi {
    width: 100%;
    height: 40px;
    background-color: black;
    float: left;
    border-top: 5px #f8d22c solid;
}
.Navi ul {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.Navi > ul > li {
    line-height: 32px;
    display: inline;
    position: relative;
    float: left;
}
.Navi > ul > .home {
    display: none;
}
.Navi > ul > li > i {
    color: #f8d22c;
    font-size: 30px;
}
.Navi > ul > li > a:hover {
    color: #f8d22c;
}
.Navi > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.Navi > ul > li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    position: absolute; 
    background-color: rgba(248, 211, 44, 0.5);
    min-width: 200px;
    min-height: 80px;
    top: 35px;
    left: 0;
    text-align: center;
    display: none;
}
.sub-menu > li {
    list-style-type: none;
}
.sub-menu > li > a {
    color: black;
    text-decoration: none;
}
.main {
    margin: auto;
    width: 100%;
}
.container {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 30px;
}
.boxleft {
    width: 70%;
    float: left;
    padding-top: 10px;
}
.row1 {
    margin-left: -10px;
    margin-right: -10px;
}
.boxhot {
    width: 100%;
    min-height: 194px;
    float: left;
    margin-bottom: 20px;
}
.pic {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.pic img {
    width: 100%;
    height: auto;
    float: left;
}
.text {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    float: right;
}
.text h2, p {
    margin: 0px;
    padding: 0px;
    float: left;
}
.text > #tit {
    padding: 10px 0;
    width: 100%;
}
.boxhotsmall {
    padding: 0;
    margin: 0;
}
.row2 {
    margin-left: -10px;
    margin-right: -10px;
}
.item {
    width: 25%;
    height: 320px;
    float: left;
    padding: 5px 10px;
}
.item img {
    width: 100%;
}
.item > .news {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}
.date {
    font-size: 15px;
    color: #868686;
}
.boxright {
    width: 30%;
    float: right;
    padding-left: 30px;
    padding-top: 10px;
}
.boxright > ul {
    width: 100%;
    min-height: 480px;
    border: 1px black solid;
    padding: 0;
    margin: 0;
}
.boxright > ul > li {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px #dfdfdf solid;
}
.boxright > ul > li:first-child {
    min-height: 50px !important;
    background-color: #333333;
    color: white;
}
.boxright > ul > li:last-child {
    min-height: 50px !important;
    background-color: #5cb85c;
    border-bottom: 0;
    text-align: center;
}
.boxright > ul > li:last-child > a {
    text-decoration: none;
    color: white;
}
.boxright > ul > li p {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.boxright > ul > li > .avatar {
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
}
.boxright > ul > li > .avatar >img {
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.boxright > ul > li > .avatar > .name {
    float: left;
}
.boxright > ul > li > p {
    width: 100%;
    height: 50%;
    font-size: 13px;
}
.boxright > ul > li > .avatar > .name > .na {
    font-size: 16px;
}
.content2 {
    width: 100%;
    float: left;
    padding-top: 10px;
}
.content2 .banner {
    margin-right: -14px;
    margin-left: -14px;
}
.content2 .banner .ban {
    width: 50%;
    padding-right: 14px;
    padding-left: 14px;
    float: left;
}
.content2 .banner .ban img {
    width: 100%;
    float: left;
}
.content2 #TIP {
    width: 100%;
    float: left;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.clear { clear: both;}
.content2 .boxlive {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    background-color: #ededed;
}
.content2 .boxlive .box-items {
    width: 20%;
    float: left;
    padding: 10px;
}
.content2 .boxlive .box-items img {
    width: 100%;
}
.content2 > .boxlive > .button-left {
    margin: 0;
    background: none;
    border: none;
    position: absolute;
    top: 50px;
    left: -40px;
}
.content2 > .boxlive > .button-right {
    margin: 0;
    background: none;
    border: none;
    position: absolute;
    top: 50px;
    right: -40px;
}
.content2 > .boxlive > .button-left > .icon-left-open {
    font-size: 30px;
    font-weight: lighter;
}
.content2 > .boxlive > .button-right > .icon-right-open {
    font-size: 30px;
    font-weight: lighter;
}
.content2 .boxlive .load {
    display: none;
}
.topic {
    width: 100%;
    float: left;
    margin-top: 10px;
    display: inline-block;
}
.topic > p {
    float: left;
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: relative;
}
.topic > p::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000;
}
.topic > a {
    float: right;
    color: #868686;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.boxes {
    width: 100%;
    float: left;
    border-top: #888888 1px solid;
}
.game > img {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.dk50 {
    width: 100%;
    float: left;
    background-color: #cccccc;
    padding: 2%;
}
.orange {
    margin: 19px 40px;
    background-color: #f09001;
    padding: 10px 26px;
    color: white;
    width: 133px;
    height: 35px;
    float: left;
}
.boxvip {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.tin {
    float: left;
    width: 100%;
}
.tin > p {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
.tin > p::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #000000;
}
.tin > a {
    text-decoration: none;
    float: right;
    color: #868686;
    font-size: 13px;
}
.collnews {
    width: 100%;
    float: left;
    border-top: 2px #cccccc solid;
}
.listnews {
    margin: 0;
    padding: 0;
}
.listnews > li {
    list-style-type: none;
    margin: 10px 5px;
    padding: 10px;
}
.listnews > li > a {
    text-decoration: none;
    color:#868686;
}
.listnews > li > i {
    padding: 0;
    margin: 0;
}
.dk50-2 {
    width: 100%;
    float: left;
    background-color: #cccccc;
    padding: 3%;
    margin-bottom: 20px;
}
.orange2 {
    background-color: #f09001;
    padding: 10px 26px;
    color: white;
    width: 133px;
    height: 35px;
    float: right;
}
.dk50-2 > p {
    width: 70%;
    float: left;
}
.boxbet {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.row3 {
    margin-left: -12px;
    margin-right: -12px;
}
.bet-items {
    width: 33.3333%;
    float: left;
    padding: 12px;
    height: 170px;
}
.bet-items > ul {
    margin: 0;
    padding: 0;
}
.bet-items > ul > li {
    padding: 10px 0;
    list-style-type: none;
}
.bet-items > ul > h4 {
    padding: 0;
    margin: 0;
}
.bet-items > ul > li > a {
    color: #868686;
    text-decoration: none;
}
.boxcmt {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.collcmt {
    width: 100%;
    float: left;
    border-top: 2px #cccccc solid;
}
.listcmt {
    margin: 0;
    padding: 0;
}
.listcmt > li {
    width: 100%;
    padding: 10px;
    float: left;
    list-style-type: none;
    border-bottom: 1px #dfdfdf solid;
}
.listcmt > li > a {
    color: black;
    margin: 5px;
    text-decoration: none;
}
.listcmt > li > p {
    color: #868686;
    font-size: 15px;
    margin: 5px;
}
.listcmt > li:last-child {
    text-align: center;
    border-bottom: none;
}
.listcmt > li:last-child > a {
    text-decoration: underline;
}
.avatar {
    display: inline-block;
    margin: 5px;
}
.avatar > img {
    float: left;
    margin: 4px;
}
.avatar > .na {
    float: left;
    margin: 2px;
}
.avatar > .date {
    font-size: 10px;
    float: left;
    margin: 2px;
}
.plan {
    width: 100%;
    background-color: #f8d22c;
    padding: 10px;
    overflow: auto;
    border-bottom: 2px #999999 solid;
}
.plan > h3 {
    float: left;
    margin: 0;
}
.plan > a {
    float: right;
    text-decoration: none;
    color: #868686;
}
.WC18 {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.tab {
    width: 100%;
}
td > .p1 {
    color: #cc7300;
    float: left;
    padding: 0;
    margin: 5px;
    font-size: 15px;
}
td > .p2 {
    color: #6e757d;
    float: left;
    padding: 0;
    margin: 5px;
    font-size: 15px;
}
td > .p3 {
    color: #000000;
    float: left;
    padding: 0;
    margin: 5px;
    font-size: 15px;
}

table, tr, td {
    border: 1px solid #888888;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
td:nth-of-type(2) {
    background-color: #f2f2f2;
}
.bet-tab {
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-left: -5px;
    margin-right: -5px;
}
.gold-game {
    width: 50%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.game {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
}
.game > ul {
    margin: 0;
    padding: 0;
}
.game > ul > li {
    width: 100%;
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px #d4d4d4 solid;
}
.game ul li .top, .bot {
    display: inline-block;
    width: 100%;
}
.game > ul > li p {
    display: inline-block;
    margin: 10px;
}
.game > ul > li > .bot > .p2-date {
    color: #6e757d;
}
.game > ul > li > .bot > .green {
    color: #048d05;
    font-size: 15px;
}
.game > ul > li > .bot > .ps {
    font-size: 15px;
}
.game > ul > li > .bot > .gros {
    float: right;
    text-decoration: 1px;
    color: #de0000;
}
.game > ul > li > .bot > .gros1 {
     float: right;
    text-decoration: 1px;
    color: #565656;
}
.game > ul > li > .bot > .gros2 {
    float: right;
   text-decoration: 1px;
   color: #008cc6;
}
.game > ul > li > .top > p:nth-of-type(2) {
    background-color: #c2c2c2;
}
.tit-video {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.tit-video > h3 {
    float: left;
    margin: 0;
    position: relative;
}
.tit-video > h3::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: #000000;
}
.tit-video > a {
    float: right;
    text-decoration: none;
    color: #868686;
}
.videos {
    width: 100%;
    float: left;
}
.collvideo {
    width: 100%;
    float: left;
    padding-top: 10px;
    border-top: 2px #999999 solid;
}
.videos .collvideo .b-left {
    width: 50%;
    float: left;
    padding-right: 10px;
}
.videos > .collvideo > .b-left > .text {
    width: 100%;
    float: left;
    padding: 0;
}
.videos > .collvideo > .b-left > img {
   width: 100%;
   height: auto;
}
.videos > .collvideo > .b-left > .text > h2 {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.videos > .collvideo > .b-left > .text > span {
    color: #5c5c5c;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.videos > .collvideo > .b-left > .text > .date {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.videos .collvideo .b-right {
    width: 50%;
    float: right;
    padding-left: 10px;
}
.videos > .collvideo > .b-right > .row2 {
    margin-left: -10px;
    margin-right: -10px;
}
.videos > .collvideo > .b-right > .row2 > .item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}
.videos > .collvideo > .b-right > .row2 > .item > .news {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}
.videos > .collvideo > .b-right > .row2 > .item > .date {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 14px;

}
.bottom {
    float: left;
    width: 100%;
    padding: 20px;
    background-color: #090909;
}
.bottom > .Infor {
    width: 30%;
    padding: 20px;
    float: left;
}
.bottom > .Infor > .contact {
    width: 264px;
    min-height: 166px;
    background-color: #191919;
    float: left;
    padding: 10px;
}
.bottom > .Infor > .contact > p > i {
    margin: 10px;
    font-size: 20px;
}
.bottom > .Infor > .contact > p {
    color: #b8b8b8;
    font-size: 13px;
    margin-bottom: 20px;
}
.bottom > .Infor > img {
    margin-bottom: 20px;
}
.bottom > .Infor > p {
    color: #afafaf;
    margin-bottom: 20px;
    font-size: 13px;
}
.bottom > .match {
    width: 70%;
    padding: 20px;
    float: left;
}
.bottom > .match > .team {
    width: 33%;
    float: left;
}
.bottom >.match >.team > h3 {
    color: #ffffff;
    margin: 10px;
    width: 100%;
}
.bottom > .match > .team > p {
    color: #afafaf;
    margin: 10px;
    width: 100%;
}
.bottom > .Infor2 {
    display: none;
}
/*tablet*/
@media only screen and (min-width: 760px) and (max-width: 960px) {
    .boxleft {
        width: 100%;
    }
    .pic {
        width: 100%;
    }
    .text {
        width: 100%;
        padding: 10px;
    }
    .boxright {
        display: none;
    }
    .item {
        height: 250px;
    }
    .game > ul > li p {
        margin: 5px;
    }
    .container {
        padding: 20px;
    }
    .dk50-2 {
        margin-top: 20px;
    }
    .bottom {
        padding: 10px;
    }
    .bottom > .Infor {
        padding: 10px;
        position: relative;
    }
    .bottom > .Infor > p {
        margin-bottom: 15px;
        font-size: 15px;
    }
    .bottom > .Infor > .contact {
        position: absolute;
        bottom: -250px;
    }
    .bottom > .match {
        padding: 10px;
    }
}
/*mobile*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .sub-header .Navi-toggle-button {
        display: block;
        margin-top: 10px;
        padding: 0;
    }
    .Navi ul li > .icon-home {
        display: none;
    }
    .Navi {
        display: none;
        height: auto;
        border: 0;
        background-color: #302f29;
    }
    .Navi ul {
        width: 50%;
        position: initial;
    }
    .Navi > ul > .home {
        display: block;
    }
    .Navi > ul > li {
        display: block;
        width: 100%;
    }
    .sub-header .logo {
        display: inline-block;
        margin-top: 20px;
    }
    .sub-header{
        width: 50%;
        padding: 0;
    }
    .login {
        width: 50%;
        float: right;
        font-size: 15px;
        padding: 10px 35px;
    }
    .container {
        padding: 15px
    }
    .boxleft {
        width: 100%;
    }
    .pic {
        width: 100%;
    }
    .text {
        width: 100%;
        padding: 10px;
    }
    .item {
        width: 50%;
        padding: 5px 5px;
    }
    .item img {
        height: 200px;
    }
    .item > .new {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .boxright {
        display: none;
    }
    .banner {
        margin-left: 0;
        margin-right: 0;
    }
    .content2 .banner .ban {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .button-left {
        display: none;
    }
    .button-right {
        display: none;
    }
    .invi {
        display: none;
    }
    .content2 .boxlive .box-items {
        width: 50%;
    }
    .content2 .boxlive .load {
        float: right;
        display: block;
        padding: 10px;
    }
    .content2 .boxlive .load > a {
        text-decoration: none;
        color: #868686;
    }
    .item .news {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .bet-items {
        width: 50%;
        padding: 10px;
        height: 150px;
    }
    .bet-items > ul > h4 {
        font-size: 15px;
    }
    .bet-items > ul > li {
        padding-top: 10px;
    }
    .bet-items > ul > li > a {
        font-size: 13px;
    }
    .boxbet {
        margin: 0;
    }
    .videos .collvideo .b-left {
        width: 100%;
        padding: 0;
    }
    .videos .collvideo .b-right {
        width: 100%;
        padding: 0;
    }
    .bet-tab {
        margin-left: 0;
        margin-right: 0;
    }
    .gold-game {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
    }
    .bottom {
        padding: 10px;
    }
    .bottom .Infor {
        display: none;
    }
    .bottom .Infor2 {
        display: block;
        padding: 10px;
        float: left;
    }
    .bottom > .Infor2 > .contact {
        width: 100%;
        min-height: 166px;
        background-color: #191919;
        float: left;
        padding: 10px;
        margin-top: 15px;
    }
    .bottom > .Infor2> .contact > p > i {
        margin: 10px;
        font-size: 20px;
    }
    .bottom > .Infor2> .contact > p {
        width: 100%;
        color: #b8b8b8;
        font-size: 13px;
        margin-bottom: 20px;
    }
    .bottom > .Infor2> img {
        margin-bottom: 20px;
        float: left;
    }
    .bottom > .Infor2> p {
        color: #afafaf;
        margin-bottom: 10px;
        font-size: 15px;
        width: 100%;
    }
    .bottom > .match {
        width: 100%;
        padding: 0;
    }
    .bottom > .match > .team > p {
        margin: 5px;
    }
}