body {
    background-color: #DEDEDE;
    font-family: sans-serif;
}
.top {
    width: 980px;
    margin: 15px auto;
}
#bluebox {
    background-color: #0066ff;
    width: 250px;
    height: 40px;
    color: white;
    float: right;
    margin: 15px;
    text-align: center;
}
#bluebox > p {
    margin: 12px;
}
#logo {
    margin: auto;
    width: 980px;
    height: 80px;
}
#logo > img {
    width: 200px;
}
.menu {
    background-color: black;
    height: 40px;
}
.menu ul {
    list-style-type: none;
    width: 980px;
    margin: 0 auto;
}
.menu ul li {
    display: inline-table;
    height: 40px;
    line-height: 40px;
    float: left;
   
}
.menu ul li a {
    color: white;
    margin: auto;
    text-decoration: none;
    margin: 80px auto;
    padding: 0px 15px;

}

.container{
    background-color: white;
    width: 980px;
    min-height: 638px;
    margin: 10px auto;
    padding: 15px;
}

.box-left {
    background-color: red;
    width: 712px;
    min-height: 405px;
    padding: 15px;
    float: left;
}

.content-left {
    float: left;
}
.bigbox {
    width: 415px;
    min-height: 250px;
    background-color: #cccccc;
    padding: 20px;
}
.smallboxes {
    width: 81px;
    min-height: 90px;
    background-color: #003300;
    margin-top: 15px;
    margin-right: 30px;
    float : left;
    color: white;
}
.smallboxes p {
    margin: 0px;
}
.content-right {
    width: 208px;
    min-height: 350px;
    background-color: #999;
    float: right;
    padding-top: 15px;
}
.bigpink {
    width: 223px;
    min-height: 158px;
    background-color: #ff9999;
    float: right;
}
.bigpink p {
    margin: 0;
}
.smallpink {
    width: 223px;
    min-height: 80px;
    background-color: #ff9999;
    float: right;
    margin-top: 15px;
}
.smallpink p {
    margin: 0;
}
.lila {
    width: 215px;
    min-height: 160px;
    background-color: #ff00cc;
    float: left;
    margin-top: 45px;
    margin-right: 30px;
    color: white;
}
.lila p {
    margin: 0;
    padding: 10px;

}