
.icon-home:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-right-dir:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-stumbleupon:before { content: '\f1a4'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */