@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,vietnamese,latin-ext);
body { 
	margin: 0px; 
	font-family: 'Roboto', Arial, sans-serif; 
	font-size: 14px; 
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Arial, sans-serif;
}
button {
	font-family: 'Roboto',Arial,sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover { 
	color: #ff6600;
}
a:active {
	color: #ff6600;
}
.hide { 
	display:none;
}

.clear {
	clear: both;
}

.pull-left {float: left;}
.pull-right {float: right;}
.main {
	width: 100%;
	max-width: 1170px;
	margin: auto;
}
.main-2 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0px 15px;
}
.main-3 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.color-ora-red {color: #E74C3C;}
.color-333 {color: #333;}
.color-ccc {color: #CCC;}
.color-white {color: #FFF;}
.color-fb {color: #3B5A9A;}
.color-twiter {color: #29A9E1;}
.color-youtube {color: #ED1C24;}

/*---End Class Public---*/



/*---Header---*/
.top-header {
	background-color: #F4F4F4;
	width: 100%;
	height: 36px;
	line-height: 36px;
	float: left;
}
.top-header .top-social {
	padding: 0px 5px;
	font-size: 18px;
	color: #999;
}

.top-header .right-top-header {
	padding: 0px 15px;
	font-size: 13px;
}

.header {
	float: left;
	height: 110px;
	width: 100%;
}
.header .navbar-toggle-button {
	border: 0px;
	display: none;
	background-color: transparent;
	color: #E74C3C;
	font-size: 30px;
	float: left;
}
.header .logo {
	width: 270px;
	margin-top: 41px;
}
.header .logo img {
	width: 100%;
	height: auto;
}
.header .header-banner {
	width: 630px;
	margin-top: 15px;
}
.header .header-banner img {
	width: 100%;
	height: auto;
}
/*---Navigation---*/
.navbar {
	float: left;
	width: 100%;
	background-color: #E74C3C;
}
.main-menu {
	margin: 0px;
	padding: 0px;
}
.main-menu .active {
	background-color: #C73324;
}
.main-menu li {
	list-style: none;
}
.main-menu a {
	color: #FFF;
	display: block;
	padding: 10px 20px;
	line-height: 20px;
}
.main-menu>li {
	float: left;
	position: relative;
}
.main-menu li:hover {
	background-color: #D83C2C;
}
.sub-menu-1 {
	position: absolute;
	left: 0px;
	top: 40px;
	width: 200px;
	z-index: 99;
	margin: 0px;
	padding: 0px;
	background-color: #E06357;
}
.sub-menu-1 li {
	position: relative;
}
.sub-menu-2 {
	position: absolute;
	top: 0px;
	left: 200px;
	width: 200px;
	z-index: 100;
	margin: 0px;
	padding: 0px;
	background-color: #E06357;
}
.main-menu li:hover .sub-menu-1 {
	display: block;
}
.sub-menu-1 li:hover .sub-menu-2 {
	display: block;
}


/*---Banner---*/
.banner {
	float: left;
	width: 100%;
	background-image: url("../images/banner.png");
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.banner .banner-text {
	margin: 0px;
	padding-top: 85px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	font-size: 48px;
	line-height:55px;
	font-weight: bold;
}
/*---Path---*/
.path {
	float: left;
	width: 100%;
	background-color: #F4F4F4;
	height: 50px;
	line-height: 20px;
	padding: 15px 25px;
	margin-top: -25px;
}

/*---Container---*/
.container {
	padding-top: 30px;
	float: left;
	width: 100%;
}
.box-left {
	width: 68.376%; /* max-width=800px */
}
.box-left .post {
	width: 100%;
	float: left;
}
.post .post-title {
	float: left;
	width: 100%;
	font-size: 28px;
	margin: 0px;
}
.post .post-date {
	width: 100%;
	color: #999;
	line-height: 40px;
	float: left;
}
.post .post-date .space-10px {
	padding-right: 10px;
}
.post .sub-post {
	float: left;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
}
.post .sub-link {
	width: 100%;
	float: left;
	padding: 15px 0px;
}
.post .sub-link a {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}
.post .post-detail {
	float: left;
	width: 100%;
}
.post .button-sm {
	width: 100%;
	float: left;
	padding: 30px 0px;
	padding-left: 35%;
}
.post .button-sm .see-more {
	background-color: #EEE;
	width: 130px;
	height: 36px;
	padding: 5px;
	border-style: none;
	text-align: center;
	cursor: pointer;
}
.post .post-share {
	float: left;
	width: 100%;
}
.post .post-share .share {
	margin: 0px;
	padding: 0px;
}
.post .post-share .share li {
	list-style: none;
	float: left;
}
.post .post-share .share li a {
	color: #FFF;
}
.post .post-share .share .share-text {
	color: #333;
	font-weight: bold;
	padding: 5px 0px;
	line-height: 20px;
}
.post .post-share .book-mark {
	font-size: 18px;
	height: 30px;
	width: 28px;
	border: 1px solid #999;
	line-height: 30px;
	text-align: center;
}
.post .post-tag {
	float: left;
	padding: 10px 0px;
	width: 100%;
}
.post .post-tag .post-tag-item {
	float: left;
	background-color: #EEE;
	color: #999;
	margin: 2px 10px 2px 0px;
	padding: 3px 7px;
	font-size: 12px;
}

.post-comment {
	float: left;
	width: 100%;
}
.post-comment .title-comment {
	float: left;
	width: 100%;
	background-color: #EEE;
	height: 40px;
	padding: 12px 10px;
}
.post-comment .title-comment .pull-left {
	font-weight: bold;
}
.post-comment .title-comment .pull-right span {
	padding: 0px 10px;
}
.post-comment .box-comment {
	float: left;
	width: 100%;
}
.post-comment .box-comment .reply {
	padding-left: 100px;
}
.post-comment .box-comment .comment {
	float: left;
	width: 100%;
	padding-top: 10px;
}

.post-comment .box-comment .comment .comment-detail {
	float: left;
	width: 100%;
	position: relative;
	padding-left: 95px;
}
.post-comment .box-comment .comment .comment-detail .avatar {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 1px solid #DDD;
	padding: 2px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.post-comment .box-comment .comment .comment-detail .comment-content {
	float: left;
	width: 100%;
}
.post-comment .box-comment .comment .comment-info {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #CCC;
}




.input-text {
	float: left;
	width: 100%;
	height: 100px;
	resize: none;
}
.send-reply {
	float: right;
	background-color: #E74C3C;
	padding: 10px 20px;
	border: 0px;
	margin-top: 5px;
	cursor: pointer;
	color: #FFF;
}
.relate-post {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
}

.title {
	width: 100%;
	float: left;
	border-bottom: 1px solid #DFDFDF;
	padding-bottom: 2px;
	position: relative;
}
.title .underline {
	width: 60px;
	height: 3px;
	position: absolute;
	bottom: -1px;
	left: 0px;
	background-color: #E74C3C;
}
.title .sub-title {
	float: left;
	padding: 10px 0px;
}
/*----*/

.bd-square {
	border: 1px solid #EEE;
	height: 25px;
	width: 25px;
	text-align: center;
	margin: 5px;
	line-height: 20px;
}
.relate-post .fsize-title {
	font-size: 30px;
	text-transform: uppercase;
}
.relate-post .item-relate-post {
	padding-top: 20px;
	width: 100%;
	float: left;
}
.relate-post .item-relate-post .image {
	float: left;
	width: 21.25%;
	height: auto;
}
.relate-post .item-relate-post .title-relate {
	margin: 0px;
	font-size: 16px;
	float: right;
	width: 76.25%;
}
.relate-post .item-relate-post .relate-date {
	float: right;
	width: 76.25%;
	padding: 10px 0px;
	font-size: 13px;
	color: #999;
}
.another-post {
	width: 100%;
	float: left;
}
.another-post .title {
	margin-bottom: 20px;
}
.another-post .fsize-title {
	font-size: 30px;
	text-transform: uppercase;
}
.title .space-10px {
	padding: 0px 10px;
}
.title .active {
	color: #C73324;
}


.another-post .post-main {
	width: 46.25%;
	padding-bottom: 20px;
}
.another-post .post-main .image {
	width: 100%;
	height: auto;
}
.another-post .post-main .title-another {
	width: 100%;
	margin: 0px;
	padding-top: 10px;
}
.another-post .post-main .title-another a {
	font-size: 24px;
}

.date-time {
	color: #999;
	font-size: 13px;
}
.another-post .post-main .date-time {
	width: 100%;
	padding: 10px 0px;
}
.another-post .sub-another-post {
	width: 50%;
	padding-bottom: 20px;
}
.another-post .sub-another-post .item-another {
	width: 100%;
	float: left;
}
.another-post .sub-another-post .item-another .image {
	float: left;
	width: 42.5%;
}
.another-post .sub-another-post .item-another .image img {
	width: 100%;
	height: auto;
}
.another-post .sub-another-post .item-another .title-another {
	width: 52.5%;
	margin: 0px;
}
.another-post .sub-another-post .item-another .title-another a {
	font-size: 16px;
}
.another-post .sub-another-post .item-another .date-time {
	width: 52.5%;
	padding: 10px 0px;
}






.box-right {
	width: 25.641%; /* width: 300px */
}
.box-right .image-ads {
	float: left;
	width: 100%;
	height: auto;
	padding-bottom: 15px;
}
.box-right .introduce {
	width: 100%;
	float: left;
	padding-bottom: 15px;
}
.box-right .fsize-title {
	font-size: 20px;
	text-transform: uppercase;
}
.box-right .introduce .detail {
	float: left;
	width: 100%;
	padding-top: 10px;
}
.box-right .ask-multi {
	float: left;
	width: 100%;
	padding-bottom: 15px;
}
.box-right .ask-multi .detail {
	float: left;
	width: 100%;
	border-bottom: 1px dashed #CCC;
	padding: 10px;
	position: relative;
}
.box-right .ask-multi .detail .bd-left {
	float: right;
	border-left: 2px solid #CCC;
	padding-left: 10px;
	width: 90%; /* width: 245px */
}
.box-right .ask-multi .detail .stt {
	position: absolute;
	left: 3%;
	top: 9px;
	font-size: 30px;
	color: #CCC;
	z-index: 88;
}

.box-right .ask-in-week {
	float: left;
	width: 100%;
	padding-bottom: 15px;
}
.box-right .ask-in-week .detail {
	float: left;
	width: 100%;
	border-bottom: 1px dashed #CCC;
	padding: 10px 0px 10px 15px;
	position: relative;
}
.box-right .ask-in-week .detail .bd-left {
	float: left;
	border-left: 1px solid #CCC;
	padding-left: 15px;
	width: 100%;
}
.box-right .ask-in-week .detail .bd-left .title-item {
	float: left;
	font-weight: bold;
	padding-bottom: 5px;
	width: 100%;
}
.box-right .ask-in-week .detail .stt {
	position: absolute;
	left: 5px;
	top: 8px;
	font-size: 14px;
	color: #FFF;
	z-index: 88;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: #E74C3C;
}
.box-right .problem-hot {
	float: left;
	width: 100%;
	padding-bottom: 15px;
}
.box-right .problem-hot .item {
	float: left;
	width: 100%;
	padding: 15px 0px;
	border-bottom: 1px dashed #CCC;
}
.box-right .problem-hot .item .image {
	width: 40%;
	height: auto;
}
.box-right .problem-hot .item .title-item {
	padding-left: 10px;
	width: 60%;
	font-weight: normal;
	font-size: 14px;
}


/*---VideoHightlight---*/
.video-hightlights {
	float: left;
	width: 100%;
	background-color: #F4F4F4;
	padding-bottom: 20px;
}
.video-hightlights .title {
	margin-top: 40px;
	margin-bottom: 20px;
}
.video-hightlights .fsize-title {
	font-size: 30px;
	text-transform: uppercase;
}
.video-hightlights .post-main {
	width: 74.36%;
	padding-bottom: 20px;
}

.video-hightlights .post-main .image {
	width: 100%;
	height: auto;
	float: left;
	position: relative;
	
}
.video-hightlights .post-main .image img {
	width: 100%;
	height: auto;
}
.video-hightlights .post-main .image .icon-play-circled {
	position: absolute;
	font-size: 50px;
	left: 45%;
	top: 45%;
	opacity: 0.6;
	color: #000;
}

.video-hightlights .post-main .title-another {
	width: 100%;
	margin: 0px;
	padding-top: 10px;
}
.video-hightlights .post-main .title-another a {
	font-size: 24px;
}
.video-hightlights .post-main .date-time {
	width: 100%;
	padding: 10px 0px;
}
.video-hightlights .sub-another-post {
	width: 23.077%;
	padding-bottom: 20px;
}
.video-hightlights .sub-another-post .item-another {
	width: 100%;
	float: left;
}
.video-hightlights .sub-another-post .item-another .image {
	width: 100%;
	height: auto;
}
.video-hightlights .sub-another-post .item-another .image img {
	width: 100%;
}
.video-hightlights .sub-another-post .item-another .title-another {
	width: 100%;
	margin: 0px;
	padding-top: 10px;
}
.video-hightlights .sub-another-post .item-another .title-another a {
	font-size: 16px;
}
.video-hightlights .sub-another-post .item-another .date-time {
	width: 100%;
	padding: 10px 0px;
}




/*---Category---*/
.category {
	width: 100%;
	float: left;
	padding: 15px 0px;
}

.sub-category {
	float: left;
	width: 25%;
	padding: 15px;
}
.category-item {
	width: 100%;
	float: left;
}
.category-item .title {
	margin-bottom: 10px;
}
.category-item .fsize-title {
	font-size: 20px;
	text-transform: uppercase;
}

.category-item .image {
	width: 100%;
	height: 162px;
}
.category-item .title-another {
	width: 100%;
	margin: 10px 0px;
	font-size: 16px;
	line-height: 20px;
	height: 40px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	position: relative;
	text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
	overflow: hidden;
}
	
.category-item .list {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
}
.category-item .list .list-item {
	list-style: none;
	width: 100%;
	margin-bottom: 10px;
	padding-left: 20px;
	font-size: 14px;
	height: 33px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	position: relative;
	text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
	overflow: hidden;
}
.category-item .list .list-item .icon-blank {
	position: absolute;
	left: 1px;
	top: 7px;
	font-size: 5px;
	color: #E74C3C;
}

/*---Foot---*/
.foot {
	float: left;
	width: 100%;
	background-color: #444;
	height: 50px;
}
.foot .home {
	padding: 13px 0px;
	line-height: 24px;
}
.foot .home .bd-square {
	background-color: #999;
	color: #444;
	border: 1px solid #999;
}
.foot .home .home-text {
	font-size: 12px;
	color: #999;
}
.foot .follow {
	margin: 0px;
	padding: 10px 0px;
	color: #FFF;
}
.foot .follow li {
	float: left;
	list-style: none;
}
.foot .follow li a {
	color: #FFF;
}
.foot .follow .follow-text {
	padding: 5px 0px;
	line-height: 20px;
}
.bd-fb {
	background-color: #3B5A9A;
	margin-left: 15px;
	font-size: 20px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}
.bd-tw {
	background-color: #29A9E1;
	margin-left: 15px;
	font-size: 20px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}
.bd-gg {
	background-color: #E74C3C;
	margin-left: 15px;
	font-size: 20px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}
.bd-yt {
	background-color: #ED1C24;
	margin-left: 15px;
	font-size: 20px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
}
.back-to-top {
	position: fixed;
	bottom: 100px;
	right: 30px;
	height: 40px;
	width: 40px;
	background-color: #555;
	cursor: pointer;
	z-index: 1000;
}
/*---Footer---*/

.footer {
	float: left;
	width: 100%;
	background-color: #111;
	background-image: url("../images/back-ground.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 320px;
}
.footer .footer-left {
	width: 23.1%;
	font-size: 12px;
	color: #FFF;
}
.footer .footer-left .logo {
	float: left;
	width: 90%;
	max-width: 240px;
	height: auto;
	padding: 30px 0px 10px 0px;
	color: #FFF;
}
.footer .footer-left .info {
	float: left;
	width: 86%;
}
.footer .footer-right {
	width: 76%;
	padding: 30px 0px;
}
.footer .footer-right .item {
	width: 20%;
	float: left;
	padding: 10px 0px;
	height: 130px;
}
.footer .footer-right .item .title-item a {
	font-weight: bold;
	color: #FFF;
	font-size: 15px;
}
.footer .footer-right .item .list-item {
	list-style: none;
	margin-top: 10px;
	padding: 0px;
}
.footer .footer-right .item .list-item a {
	font-size: 13px;
	color: #999;
}


@media only screen and (min-width: 768px) and (max-width: 960px) {
	.header {
		height: 80px;
	}
	.header .logo {
		margin-top: 26px;
	}
	.header .header-banner {
		display: none;
	}
	.main-menu a {
		padding: 10px 7px;
	}
	.main-menu li:hover .sub-menu-1 {
		display: none;
	}
	.banner {
		height: 200px;
	}
	.banner .banner-text {
		padding-top: 65px;
		line-height: 50px;
		font-size: 38px;
	}
}
@media only screen and (max-width: 767px) {
	
	.top-header {
		height: 30px;
		line-height: 30px;
	}
	.top-header .top-social {
		display: none;
	}
	.top-header .right-top-header {
		padding: 0px 5px;
	}
	.header {
		height: 50px;
	}
	.header .logo {
		margin-top: 12px;
	}
	.header .header-banner {
		display: none;
	}
	.header .navbar-toggle-button {
		display: block;
		margin-top: 5px;
	}

	.navbar {
		display: none;
		height: auto;
		border: 0px;
	}
	.main-menu li {
		width: 100%;
	}
	.main-menu li a {
		line-height: 15px;
	}
	.main-menu li:hover .sub-menu-1 {
		display: none;
	}
	.path {
		height: 40px;
		padding: 10px 15px;
	}
	.banner {
		height: 150px;
	}
	.banner .banner-text {
		padding-top: 45px;
		line-height: 35px;
		font-size: 30px;
	}
	.box-left {
		width: 100%;
	}
	.box-right {
		width: 100%;
	}
	.post .post-title {
		font-size: 23px;
	}
	.post-comment .box-comment .reply {
		padding-left: 50px;
	}
	.post-comment .box-comment .comment .comment-detail {
		padding-left: 50px;
	}
	.post-comment .box-comment .comment .comment-detail .avatar {
		height: 40px;
		width: 40px;
	}
	.relate-post .item-relate-post .image {
		width: 40%;
	}
	.relate-post .item-relate-post .title-relate, .relate-post .item-relate-post .relate-date {
		width: 60%;
		padding-left: 10px;
	}
	.another-post .post-main {
		width: 100%;
	}
	.another-post .title .sub-title {
		display: none;
	}
	.another-post .sub-another-post {
		width: 100%;
	}
	.video-hightlights .post-main {
		width: 100%;
	}
	.video-hightlights .sub-another-post {
		width: 100%;
	}
	.video-hightlights .sub-another-post .item-another .image {
		width: 40%;
	}
	.video-hightlights .sub-another-post .item-another .title-another {
		width: 60%;
		padding-top: 0px;
		padding-left: 10px;
	}
	.sub-category {
		width: 50%;
	}
	.category-item {
		height: 325px;
	}
	.category-item .image {
		height: 100px;
	}
	.footer .footer-left {
		width: 100%;
	}
	.footer .footer-right {
		width: 100%;
	}
	.footer .footer-right .item {
		width: 33.3333%
	}
}







