@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,vietnamese,latin-ext);
/* build html, css by hoaduyvan@gmail.com 094 559 3637*/
body {
    font-family: 'Roboto',Arial,sans-serif;
	font-size:14px;
	color:#333;
	margin:0px;
	background-color:#dedede;
}


a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
	text-decoration:none;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Roboto',Arial,sans-serif;
  
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.test1 {
	width:200px;
	border:1px solid #000;
	height:40px;
	position:relative;
	margin:auto;
	}
.test2 {
	width:100%;
	float:left;
	padding:10px;
	background-color:#ff6600;
	margin:5px;
	min-width:250px;
	display:none;
	position:absolute;
	top:42px;
	left:0;
	z-index:9;
	}
.test1:hover .test2 {
	display:block;
	}
.title a:hover { color:#F00;}			
.box1{
	float:left;
	height:300px;
	width:400px;
	background:#000;
}

.wapper-pager {
	width:100%;
	display:inline-block;
	padding-top:30px;
	}
.box-new-hot {
	margin-bottom:30px;
	}
.box-new-hot .photo {
	width:340px;
	height:190px;
	float:left;
	}
.box-new-hot .box-text-hot {
	margin-left:360px;
	}
.box-new-hot .box-text-hot .title-h3 {
	margin:0px;
	width:100%;
	display:inline-block;
	font-size:18px;
	color:#161616;
	text-align:left;
	font-weight:700;
	padding-bottom:8px;
	}	

.box-new-hot .box-text-hot .time {
	margin:0px;
	width:100%;
	display:inline-block;
	font-size:12px;
	color:#868686;
	text-align:left;
	padding-bottom:8px;
	}
.box-new-hot .box-text-hot 	.content-small {
	margin:0px;
	width:100%;
	display:inline-block;
	font-size:14px;
	color:#161616;
	text-align:left;
	line-height:24px;
	}

.list-item-newhot .row {
	margin-left:-10px;
	margin-right: -10px;
	}

.list-item-newhot .row .item {
	padding:0 10px;
	width:25%;
	float:left;
	}
.list-item-newhot .row .item  .photo{
	width:100%;
	height:120px;
	margin-bottom:10px;
	display:inline-block;
	}
.list-item-newhot .row .item .title-h3 {
	margin:0px;
	width:100%;
	display:inline-block;
	font-size:14px;
	color:#161616;
	text-align:left;
	font-weight:300;
	padding-bottom:8px;
	}		

.list-item-newhot .row .item .time {
	margin:0px;
	width:100%;
	display:inline-block;
	font-size:12px;
	color:#868686;
	text-align:left;
	padding-bottom:8px;
	}
.menu-top { margin:0px; padding:0px; width:100%; display:inline-block;}

.menu-top li {
	float:left;
	padding:0px 15px;
	line-height: 40px;
	list-style:none;
	font-size:14px;
	position:relative;
	}
.menu-top li a { color:#fff;}
.menu-top .sub-menu-2 { 
	display:none;
	position:absolute;
	left:0px;
	top:40px;
	min-width:200px;
	min-height:80px;
	background-color:#F00;
	z-index:999;
	margin:0px;
	padding:0px;
	
}
.menu-top li:hover .sub-menu-2{ 
	display:block;
}
.menu-top li .sub-menu-2 li { width:100%; line-height:normal; padding:4px 10px; font-size:11px; text-align:left;}

	


	
	




.main {
	max-width:980px;
	margin:auto;
	width:100%;
	}
	
.clear { clear:both;}
.boxmenu {
	width:100%;
	float:left;
	height:40px;
	background-color:#000;
	display:none;
	}
.boxmenu ul { margin:0px; padding:0px;}	
.boxmenu .menutest {
	width:100%;
	margin:auto;
	max-width:960px;
	}
.menutest .subtest {
	display:none;
	position:absolute;
	left:0px;
	top:40px;
	min-width:150px;
	min-height:150px;
	z-index:999;
	background-color:#ff6600;
	}	
.boxmenu .menutest li {
	float:left;
	padding-left:15px;
	padding-right:15px;
	line-height:40px;
	list-style:none;
	color:#fff;
	position:relative;
	}	
.boxmenu .menutest li a { color:#fff}
.boxmenu .menutest li a span { color:#ff6600;}
.boxmenu .menutest li:hover { background-color:#ff6600;}
.boxmenu .menutest li:hover a { color:#009}
.boxmenu .menutest li:hover .subtest { display:block;}
.menutest .subtest  li { line-height:normal; padding:5px 10px; font-size:11px; width:100%;}
.menutest .subtest  li a { color:#ccc;}



.boxa {
	width:250px;
	height:500px;
	float:right;
	background-color:#006;
	}
.boxb {
	width:550px;
	float:left;
	position:relative;
	background-color:#ff6600;
	border-right:1px  dotted #000;
	padding:5px;
	}
.boxb .small {
	position:absolute;
	bottom:0px;
	right:0px;
	width:100%;
	background: rgba(0, 0, 0, 0.5);
	padding:5px;
	color:#fff;
	}
.boxb img { width:100%;}		
.main {
	margin:auto;
	width:100%;
	max-width:980px;
	}
.fix-menu {
	position:fixed;
	z-index:99;
	}	
.box-chat {
	width:200px;
	height:30px;
	position:fixed;
	background-color:#ff6600;
	right:0;
	top:0;
	z-index:100;
	}
.fix-width {
	max-width:900px;
	}	
.header {
	width:100%;
	float:left;
	background-color:#dedede;
	min-height:80px;
	}

		
.header .logo{
	float:left;
	margin-top:5px;
	width:150px;
	min-height:40px;
	color:#333;
	text-align:left;
	font-size:16px;
	padding-left:15px;
	
   
	}
.header .logo img { 
	width:120px;	
}

.header .right-header {
	float:right;
	min-width:250px;
	min-height:40px;
	background-color:#06F;
	color:#fff;
	text-align:center;
	font-size:18px;
	font-weight:700;
	margin-top:15px;
	padding-top:10px;
	
	}
.navi {
	width:100%;
	float:left;
	height:40px;
	background-color:#000;
	}
.navi .menu-top {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	
	}
.navi .menu-top li {
	float:left;
	padding-left:15px;
	padding-right:15px;
	line-height:40px;
	font-size:14px;
	text-align:center;
	position:relative;
	list-style:none;
	}
.navi .menu-top li a {
	color:#fff;
	text-decoration: none;
	}
.sub-menu {
	display:none;
	position:absolute;
	left:0px;
	top:40px;
	background-color:#333;
	min-width:140px;
	min-height:80px;
	margin:0px;
	padding:0px;
	}
.navi .sub-menu li { width:100%; text-align:left; line-height:normal; padding:5px 10px; font-size:12px;}	
.navi .menu-top li:hover .sub-menu { display:block;}
.navi .menu-top li:hover { background-color:#333;}
.content {
	width:100%;
	float:left;
	background-color:#fff;
	margin-top:10px;
	padding:15px;
	}
.box-full-width {
		width:100%;
		float:left;
		}
.box-left {
	width:75%;
	float:left;
	}
.box-hot {
	width:100%;
	min-height:200px;
	float:left;
	background-color:#F00;
	padding:10px;
	}
.box-hot .box-new-hot {
	width:60%;
	float:left;
	
	}
.box-hot .box-new-hot  .box-full-hot {
	width:100%;
	float:left;
	margin-bottom:15px;
	min-height:250px;
	background-color:#ccc;
	font-size:14px;
	text-align:left;
	padding:15px;
	}
.box-hot .box-new-hot .item {
	width:25%;
	float:left;
	padding-left:15px;
	padding-right:15px;
	}
.row {
	margin-left:-15px;
	margin-right:-15px;
	}	
.box-hot .box-new-hot .item .box {
	width:100%;
	float:left;
	min-height:90px;
	background-color:#030;
	color:#fff;
}			
.box-hot .box-listting {
	width:30%;
	float:right;
	background-color: #999;
	min-height:350px;
	}			
.box-right {
	float:right;
	width:25%;
	padding-left:15px;
	}
.box-qc {
	width:100%;
	float:left;
	margin-bottom:10px;
	background-color:#F99;
	color:#333;
	text-align:center;
	min-height:80px;
	}
.padding-top-30 {
	padding-top:30px;
	}	
.box-item {
	width:25%;
	float:left;
	padding:15px;
	}
.box-item .color {
	width:100%;
	float:left;
	min-height:160px;
	background-color:#F0C;
	color:#fff;
	padding:10px;
	}
.navbar-toggle {
	background-color:#ff6600;
	height:50px;
	width:50px;
	float:left;
	border:0px;
	display:none;
	}	
.box-1 { height:50px;}	
.box-2 { height:60px;}
.box-1, .box-2, .box-3, .box4  {
	width:100%;
	} 
.container.fix .list-item-newhot .row{
	margin-left: -35px;
	margin-right: -35px;
	}	
.list-item-newhot .row{
	margin-left: -5px;
	margin-right: -5px;
	}
.list-item-newhot .col-xs-12, .list-item-newhot .col-sm-4 {
	padding-left:5px;
	padding-right:5px;
	}
.list-item-newhot .col-xs-12, .list-item-newhot .col-sm-4 a {
	 cursor:pointer;
	}	 

.icon_top {
	position:fixed;
	bottom:10px;
	right:10px;
	height:50px;
	width:50px;
	background-color:#000;
	display:none;
	z-index:9999;
	}
.fixnavi {
	position:fixed;
	z-index:999;
	left:0; top:0; right:0;
	width:100%;
	}					

@media only screen and (min-width: 768px) and (max-width: 960px) { 

}	
@media only screen and (max-width: 767px) {
	
	
	}		